body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFEFE4;
    color: #5a2a2a;
}

/* ===================== INÍCIO ===================== */
.inicio {
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url('img/fundo.png');
    background-size: cover;
    background-position: center;
    height: 700px;
}
.sla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 500px;
    padding-right: 750px;
    padding-top: 300px;
}
.inicio-conteudo {
    height: 100%;
    max-width: 500px;
    padding-left: 150px;
}

#logo {
    max-width: 1000px;
    margin-bottom: 20px;
    display: block;
}

.inicio h1 {
    font-size: 48px;
    font-weight: 800;
    color: #b3261e;
    line-height: 1.2;
    margin: 20px 0;
}

.inicio h1 span {
    color: #f28c28;
}

.sub-texto {
    font-size: 21px;
    margin-top: 10px;
    font-weight: 600;
    color: #b3261e;
}

.botao {
    margin-top: 20px;
    background: #b3261e;
    color: #fff;
    padding: 30px 80px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 45px;
    border: none;
    cursor: pointer;
}

.inicio-imagem img {
    height: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: 365px;
    margin-bottom: -100px;
}

section {
    position: relative;
    width: 100%;

}

/* ===================== OBJETIVO ===================== */
.objetivo {
    background-image: url('img/fundo2.png');
    background-size: cover;
    background-position: left;
    color: #fff;
    height: 800px;
}


.paragrafo {
    font-size: 18px;
    width: 5000px;
    line-height: 1.6;
    padding-top: 150px;
    padding-right: 150px;
    text-align: right;
}
.imagemObj {
    width: 700px;
    height: auto;
    display: flex;
    padding-right: 80px;
}
.conteudoObj{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1100px;
    padding-left: 500px;
    gap: 120px;
}

/* ===================== SOBRE NÓS ===================== */
.sobre {
    background: #FFEFE4;
    text-align: center;
    padding: 60px 40px;
    position: relative;
}

.sobre h2 {
    font-size: 50px;
    font-weight: 800;
    color: #f28c28;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto 40px;
    line-height: 1.6;
    color: #5a2a2a; 
}

/* imagens laterais */
.sobre img.lateral {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sobre img.lateral.esquerda {
    left: 40px;
}

.sobre img.lateral.direita {
    right: 40px;
}

/* Redes sociais */
.redes {
    margin-top: 30px;
}

.redes img {
    width: 35px;
    margin: 0 12px;
    transition: transform 0.3s;
}

.redes img:hover {
    transform: scale(1.1);
}
